<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.fracturedvisionmedia.absinthe"
        version   = "0.1.0">
	<preference name="phonegap-version" value="2.3.0" />
	<preference name="orientation" value="portrait" />
    <name>Absinthe Dilution Faerie</name>
    <description>Application to calculate ideal absinthe dilution ratios.</description>
    <author href="http://fracturedvisionmedia.com" email="info@fracturedvisionmedia.com">Fractured Vision Media, LLC</author>
	<!--
	<gap:splash src="splash.png" />
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	-->
</widget>